{
	"presets": ["es2015"],
	"ignore": [
	"bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js",
	"bower_components/scrollmagic/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js",
	"bower_components/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"
	],
  "compact": false
}
