#activities {
  position: relative;

  h1 {
    font-size: 4.8vw;
    left: 26%;
    line-height: 5vw;
    margin-bottom: 40%;
    top: 44%;
    width: 50%;

    &::before {
      left: 6%;
      top: -388%;
      transform: scaleX(-1);
    }
  }
  .section-header {
    background-color: $salmon;
    margin-bottom: 0;

    .activities-jar {
      bottom: 1%;
      width: 30%;
    }
    #jar01 {
      left: 3%;
    }

    #jar02 {
      left: 34%;
    }

    #jar03 {
      left: 65%;
    }
  }

  .slide {
    height: 100vh;
    overflow: hidden;
    padding: 30px 50px;
    width: 100%;
  }

  .slide-text-container {
    height: 200px;
    overflow-y: scroll;
  }

  .slide-header{
    font-size: 1.8em;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0px 2px 2px #7F7F7F;
  }

  .slide-lead{
    font-size: 1em;
    text-align: center;
    text-shadow: 0px 2px 2px #7F7F7F;
  }

  #slide1 {
    background: url('../img/bg_ff.png');
    background-size: 100px 100px;
    background-color: $savana;
  }

  #slide2 {
    background: green;
  }

  #slide3 {
    background: blue;
  }

  #slide4 {
    background: red;
  }

  #slide5 {
    background: red;
  }

  #wrapper {
    height:100%;
  	background: white;
    transition: all 250ms ease;
  	z-index: 300;

  }

  .animate {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s;
  }

  div.float-left {
    float: left;
  }

  #slider {
  	width: 100%;
  }
  #slider-container {
  	height: 100%; width: 100%;
  	overflow: hidden;
  }
}

@media print, screen and (min-width: 40em) {
  #activities {
    position: static;

    h1 {
      font-size: 3vw;
      left: 60%;
      line-height: 3.5vw;
      margin-bottom: 0;
      top: 33%;
      width: 35%;

      &::before {
        left: 5%;
        top: -356%;
      }
    }
    .section-header {
      .activities-jar {
        bottom: 1%;
        width: 18%;
      }
      #jar01 {
        left: 1%;
      }

      #jar02 {
        left: 20%;
      }

      #jar03 {
        left: 39%;
      }
    }

    #slider {
      display: none;
    }
  }
}
