#activities {
  position: relative;

  h1 {
    font-size: 4.8vw;
    left: 26%;
    line-height: 5vw;
    margin-bottom: 40%;
    top: 44%;
    width: 50%;

    &::before {
      left: 6%;
      top: -388%;
    }
  }
  .section-header {
    background-color: $salmon;
    margin-bottom: 0;

    .activities-jar {
      bottom: 1%;
      width: 30%;
    }
    #jar01 {
      left: 3%;
    }

    #jar02 {
      left: 34%;
    }

    #jar03 {
      left: 65%;
    }
  }

  .slide {
    height: 100vh;
    overflow: hidden;
    padding: 30px 50px;
    position: relative;
    width: 100%;

    &::before, &::after {
      background-image: url('../img/slider_arrow.png');
      background-size: cover;
      content: '';
      display: block;
      height: 25px; width: 9px;
      position: absolute;
    }

    &::before {
      top: 50%; left: 10px;
      transform: scaleX(-1) translateY(-50%);
    }

    &::after {
      top: 50%; right: 10px;
      transform: translateY(-50%);
    }

    &:first-child::before {
      display: none;
    }

    &:last-child::after {
      display: none;
    }
  }

  .slide-text-container {
    height: 200px;
    overflow-y: scroll;
  }

  .slide-header{
    font-size: 1.8em;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0px 2px 2px #7F7F7F;
  }

  .slide-lead{
    font-size: 1em;
    text-align: center;
    text-shadow: 0px 2px 2px #7F7F7F;
  }

  #slide1 {
    background: url('../img/bg_ff.png');
    background-size: 100px 100px;
    background-color: $savana;
  }

  #slide2 {
    background: url('../img/bg_turc.png');
    background-color: $teal;
    background-size: 100px 100px;
  }

  #slide3 {
    background: url('../img/bg_franc.png');
    background-color: $sky;
    background-size: 100px 100px;
  }

  #slide4 {
    background: url('../img/bg_dt.png');
    background-color: $peach;
    background-size: 100px 100px;
  }

  #slide5 {
    background: url('../img/bg_form.png');
    background-color: $salmon;
    background-size: 100px 100px;
  }

  #wrapper {
    height:100%;
  	background: white;
    transition: all 250ms ease;
  	z-index: 300;
  }

  .animate {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s;
  }

  div.float-left {
    float: left;
  }

  #slider {
  	width: 100%;
  }
  #slider-container {
  	height: 100%; width: 100%;
  	overflow: hidden;
  }

  .modal-trigger {
    bottom: 20px;
    color: white;
    display: block;
    left: 0; right: 0;
    margin: auto;
    position: absolute;
    text-align: center;

    &::after {
      background-image: url('../img/slider_down.png');
      background-repeat: no-repeat;
      background-size: 32px;
      content: '';
      display: block;
      height: 32px; width: 32px;
      margin: 0 auto;
    }
  }

  .activity-header {
    background-color: red;
    margin-bottom: 50px;
    padding-top: 30px;

    > img {
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
  }

  .activity-header-title {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    padding-top: 30px;
    text-align: center;
    text-shadow: 0px 2px 2px #7F7F7F;
  }

  .activity-header-lead {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    text-shadow: 0px 2px 2px #7F7F7F;
    width: 60%
  }

  #act-01 {
    .activity-header {
      background: url('../img/bg_ff.png');
      background-color: $savana;
      background-size: 100px 100px;
    }
  }

  #act-02 {
    .activity-header {
      background: url('../img/bg_turc.png');
      background-color: $teal;
      background-size: 100px 100px;
    }
  }

  #act-03 {
    .activity-header {
      background: url('../img/bg_franc.png');
      background-color: $sky;
      background-size: 100px 100px;
    }
  }

  #act-04 {
    .activity-header {
      background: url('../img/bg_dt.png');
      background-color: $peach;
      background-size: 100px 100px;
    }
  }

  #act-05 {
    .activity-header {
      background: url('../img/bg_form.png');
      background-color: $salmon;
      background-size: 100px 100px;
    }
  }
}

@media print, screen and (min-width: 40em) {
  #activities {
    position: static;

    h1 {
      font-size: 3vw;
      left: 60%;
      line-height: 3.5vw;
      margin-bottom: 0;
      top: 33%;
      width: 35%;

      &::before {
        left: 5%;
        top: -356%;
      }
    }
    .section-header {
      .activities-jar {
        bottom: 1%;
        width: 18%;
      }
      #jar01 {
        left: 1%;
      }

      #jar02 {
        left: 20%;
      }

      #jar03 {
        left: 39%;
      }
    }

    #slider {
      display: none;
    }

    .activity-header {
      margin-bottom: 70px;
    }
  }
}
