#budget {
  h1 {
    font-size: 3.8vw;
    left: 25vw;
    line-height: 5vw;
    margin-bottom: 40vw;
    top: 21vw;
    width: 50%;

    &::before {
      left: 4%;
      top: -170%;
    }
  }
  .section-header {
      background-color: $peach;
    }

    #bl_foot {
      left: 18vw;
      top: 7vw;
      width: 23vw;
    }

    #bl_handle {
      left: 11vw;
      top: 9vw;
      width: 37vw;
    }

    #bl_basket01 {
      left: 4vw;
      top: 11vw;
      width: 18vw;
    }

    #bl_basket02 {
      left: 37vw;
      top: 11vw;
      width: 18vw;
    }
}


@media print, screen and (min-width: 40em) {
  #budget {
    h1 {
      font-size: 2.5vw;
      left: 59vw;
      line-height: 3.5vw;
      margin-bottom: 0;
      top: 23vw;
      width: 35%;

      &::before {
        left: 5%;
        top: -175%;
      }
    }

    #bl_foot {
      left: 18vw;
      top: 7vw;
      width: 23vw;
    }

    #bl_handle {
      left: 11vw;
      top: 9vw;
      width: 37vw;
    }

    #bl_basket01 {
      left: 4vw;
      top: 11vw;
      width: 18vw;
    }

    #bl_basket02 {
      left: 37vw;
      top: 11vw;
      width: 18vw;
    }
    }
}
