header {
  margin: 20px;
  position: absolute;
  right: 0;
  z-index: 10;

  a {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    color: $teal;
    display: inline-block;
    font-size: 2vw;
    margin-left: 10px;
    padding: 10px;
    z-index: inherit;

    &:hover {
      color: $sky;
    }
  }
}

#landing {
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 5.5vw;
    font-weight: 300;
    margin-bottom: 30%;
    top: 18vw; left: 22vw;
    width: 60%;

    span {
      line-height: 15vw;
      font-size: 18vw;
      font-weight: 600;
    }

    &::before {
      top: -75%;
      left: -7%;
    }
  }

  h2 {
    font-size: 3.5vw;
    font-weight: 300;
    margin-bottom: 38%;
    top: 15vw; left: 22vw;
    width: 50%;

    img{
      width: 80%;
    }

    &::before {
      top: -185%;
      left: -7%;
    }
  }

  .bg-bubble, .bg-bubble-f {
    position: absolute;
    top: 0;

    animation-duration: 2s;
  }

  .bg-bubble {
    -webkit-animation-name: landing_fadeInLeft;
    animation-name: landing_fadeInLeft;
    animation-timing-function: ease-out;
  }

  .bg-bubble-f {
    -webkit-animation-name: landing_fadeInRight;
    animation-name: landing_fadeInRight;
    animation-timing-function: ease-out;
  }
}

@media print, screen and (min-width: 40em) {
  #landing {
    overflow: hidden;
    position: relative;

    h1 {
      font-size: 3.5vw;
      margin-bottom: 16%;
      top: 12vw; left: 45vw;
      width: 40%;

      span {
        line-height: 10vw;
        font-size: 10vw;
      }

      &::before {
        top: -75%;
        left: -7%;
      }
    }

    h2 {
      font-size: 3.5vw;
      font-weight: 300;
      margin-bottom: 32%;
      top: 14vw; left: 44vw;
      width: 30%;
    }
  }
}

@-webkit-keyframes landing_fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes landing_fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes landing_fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes landing_fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
