.text-margin, .section-header {
  margin-bottom: 50px;
}

.section-header {
  background-color: $sky;
  height: 50vw;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    position: absolute;
  }
}

@media print, screen and (min-width: 40em) {
  .text-margin, .section-header {
    margin-bottom: 70px;
  }

  .section-header {
    height: 45vw;
  }
}
