#mandate {
  background-color: $savana;
  overflow: hidden;
  padding: 50px 0;

  .content {
    background-color: white;
    border: 15px solid $salmon;
    box-shadow: 5px 5px 0px #A13532;
    padding: 50px 25px;
    text-align: center;
  }

  #hand {
    float: right;
    width: 63%;
  }
}

@media print, screen and (min-width: 40em) {
  #mandate {
    padding: 70px 0;
  }
}
