.whatinput-types-touch {
  .default {
    opacity: 1 !important;
    transform: translate(0px,0px) !important;
  }
}

.president-bubble01 {
  display: none;
}

#president {
  h1 {
    font-size: 4.5vw;
    left: 28vw;
    line-height: 5.5vw;
    margin-bottom: 40vw;
    top: 20vw;
    width: 50%;

    &::before {
      left: -7%;
      top: -150%;
    }
  }
}

@media print, screen and (min-width: 40em) {
  .president-bubble01 {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  #president {
    h1 {
      font-size: 2.7vw;
      left: 20vw;
      line-height: 3.5vw;
      margin-bottom: 0;
      top: -13vw;
      width: 30%;

      &::before {
        left: -7%;
        top: -145%;
      }
    }
  }
}
