/* Widget CSS */
.ui-tooltip {
	position: absolute;
	max-width: 300px;
	z-index: 9999;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* *** */

#map{
  position: relative;

	ul {
		list-style: none;
	}
}

.marker {
  background: url('../img/dot.svg');
  background-size: contain;
  display: block;
  height: 25px;
  position: absolute;
  width: 17px;
}

.marker:hover {
  transform: scale(1.125);
}

.ui-tooltip {
  background: $salmon;
  border-radius: 0px 100px 100px 100px;
	color: white;
  max-width: 300px;
	padding: 8px;
  position: absolute;
	z-index: 9999;
}

.tail {
  height: 40px;
  left: -20px;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 20px;
}

.tail::after {
  content: '';
  display: block;
  width: 80px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 0 $salmon;
  position: relative;
  top: -15px;
  left: -52px;
}
