.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #29d;

  overflow: hidden;
  z-index: 3000;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29d;
}

.pace.pace-inactive {
  display: none;
}

#cover {
  background: white;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2000;
}

#loading {
  left: 40%;
  position: absolute;
  top: 30%;
  z-index: 3000;
}

.loading-bubble {
  position: fixed;
  width: 20%;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(15%, 20%, 0);
    transform: translate3d(15%, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(15%, 20%, 0);
    transform: translate3d(15%, 20%, 0);
  }

  20% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.fadeInRight {
  animation-duration: 4.25s;
  animation-iteration-count:infinite;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-15%, 20%, 0);
    transform: translate3d(-15%, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-15%, 20%, 0);
    transform: translate3d(-15%, 20%, 0);
  }

  20% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.fadeInLeft {
  animation-duration: 4.25s;
  animation-iteration-count:infinite;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-timing-function: ease-out;
}

#loading-bubble01 {
  fill: #E8534C;
}

#loading-bubble02 {
  animation-delay: 0.75s;
  fill: #1A7981;
  opacity: 0;

  width: 25%;
}

#loading-bubble03 {
  animation-delay: 1.5s;
  fill: #CAD847;
  opacity: 0;

  width: 17%;
}

#loading-bubble04 {
  animation-delay: 2.25s;
  fill: #74C3BD;
  opacity: 0;

  width: 22%;
}

#loading-bubble05 {
  animation-delay: 3s;
  fill: #F4A748;
  opacity: 0;

  width: 25%;
}

/*.pace-running > :not(.pace) {
  opacity: 0;
}*/
